---
---

@charset "utf-8";

@import "normalize";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/assets/roboto-100.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/assets/roboto-300.ttf) format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

@import "header", "article";
