body > article {

  margin: 0 auto;
  padding: 0 0 200px;

  #screenshot {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;

    margin-top: -20px;

    img {
      width: 100%;
    }

    &::before {
      display: block;
      content: '';
      height: 20px;
      position: relative;
      z-index: 10;
      top: 280px;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }
  }

  h2 {
    text-align: center;
    margin: 0;
    padding: 20px 50px 0;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
  }

  p {
    text-align: center;
    margin: 0;
    padding: 0 50px;
    font-size: 24px;
    font-weight: 100;
  }

  a.button {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 7px 20px;
    margin: 20px auto;
    max-width: 240px;

    transition: color 500ms, background 500ms;

    border: 2px solid #000;
    color: #000;
    background: #FFF;

    &:hover {
      color: #FFF;
      background: #000;
    }

    &.download {
      margin-top: 50px;

      border: 2px solid #090;
      color: #090;
      background: #FFF;

      &:hover {
        color: #FFF;
        background: #090;
      }
    }
  }

  @media (min-width: 1000px) {

    width: 800px;

    #screenshot {
      float: left;
    }

    h2 {
      margin: 0 0 0 400px;
      padding: 0;
      font-size: 60px;
      line-height: 60px;
      text-align: left;
    }

    p {
      margin: 0 0 0 400px;
      padding: 0;
      font-size: 30px;
      text-align: left;
    }

    a.button {
      display: inline-block;
      margin: 10px 0;
    }

    &::after {
      display: block;
      content: '';
      clear: both;
    }

  }

}
