body > article {

  padding: 0 0 200px;

  > * {
    margin: 0 auto;
    padding: 50px 0 0;

    @media (min-width: 1000px) {
      width: 800px;
    }
  }

  h2, h3, h4, p {
    text-align: center;
    font-weight: 100;

    @media (min-width: 1000px) {
      text-align: left;
    }
  }

  h4 {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.60);
  }

  small {
    font-size: 60%;
    opacity: 0.5;
  }

  .app {

    margin-top: 50px;
    margin-bottom: 100px;

    > * {
      margin: 0;
    }

    .screenshot {
      width: 250px;
      margin: 0 auto;

      img, video {
        width: 100%;
      }

      video {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }

    }

    h3 {
      padding: 20px 50px 0;
      font-size: 30px;
      line-height: 50px;
    }

    h4 {
      padding: 50px 50px 0;
      font-size: 16px;
      line-height: 16px;
    }

    p {
      padding: 0 50px;
      font-size: 20px;
    }

    a.button {
      display: block;
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
      padding: 7px 20px;
      margin: 20px auto;
      max-width: 240px;

      transition: color 500ms, background 500ms;

      border: 2px solid #000;
      color: #000;
      background: #FFF;

      &:hover {
        color: #FFF;
        background: #000;
      }

      &.download {
        border: 2px solid #090;
        color: #090;
        background: #FFF;

        &:hover {
          color: #FFF;
          background: #090;
        }
      }
    }

    @media (min-width: 1000px) {

      > * {
        margin: 0 0 0 300px;
      }

      .screenshot {
        float: left;
        margin: 0;
      }

      h3 {
        padding: 0;
        font-size: 40px;
        line-height: 60px;
      }

      h4 {
        padding: 30px 0 5px;
      }

      p {
        padding: 0;
        font-size: 20px;
      }

      a.button {
        display: inline-block;
        margin: 10px 0;
      }

      &::after {
        display: block;
        content: '';
        clear: both;
      }

    }

  }

  #mantou {

    .screenshot {
      width: 300px;
      height: 300px;
      overflow: hidden;

      margin-top: -20px;

      img, video {
        width: 100%;
      }

      &::before {
        display: block;
        content: '';
        height: 20px;
        position: relative;
        z-index: 10;
        top: 280px;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }
    }

    h3 {
      font-size: 50px;
    }

    p {
      font-size: 24px;
    }

    @media (min-width: 1000px) {

      > * {
        margin: 0 0 0 400px;
      }

      .screenshot {
        margin: 0;
        height: 400px;
        &::before {
          top: 380px;
        }
      }

      h3 {
        padding: 50px 0 0;
        font-size: 60px;
      }

      p {
        padding: 0;
        font-size: 30px;
      }

    }

  }

  #apps {

    border-top: 1px solid rgba(0, 0, 0, 0.05);

  }

  #libraries {

    border-top: 1px solid rgba(0, 0, 0, 0.05);

    a {
      font-weight: 300;
      padding: 0 0.25em;
      margin: 0 -0.25em;
      border-radius: 1px;
      text-decoration: none;
      color: #090;

      transition: color 500ms, background 500ms;

      &:hover {
        color: #FFF;
        background: #090;
      }
    }

    ul {
      padding: 0 0 0 2em;
      margin: 20px;

      li {
        padding: 5px 0;
      }
    }

    @media (min-width: 1000px) {
      ul {
        margin: 0;
      }
    }

  }

}
