body > header {

  text-align: center;

  margin: 0 auto;
  padding: 100px 50px;

  #logo {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
  }

  #slogan {
    font-size: 24px;
  }

  @media (min-width: 1000px) {

    width: 800px;

    #slogan {
      font-size: 30px;
    }

  }

}
